MONGODB_URI=mongodb+srv://kevinmpandoh:mc465800@web-3.bdzear4.mongodb.net/my-game
NEXT_PUBLIC_SOLANA_NETWORK=devnet
NEXT_PUBLIC_TOKEN_CA=Your_Helge_Token_Contract_Address_Here
NEXT_PUBLIC_REQUIRED_TOKEN_AMOUNT=400000
